curation/__pycache__/
.env
dataset.zip
.DS_Store
dataset/*
!dataset/v1/
dataset/v1/*
!dataset/v1/index/
!dataset/v1/index/**
!dataset/v1/embeddings/
!dataset/v1/embeddings/**
!dataset/v1/faiss/
!dataset/v1/faiss/**
__pycache__/
