curation/__pycache__/
.env
dataset.zip
.DS_Store
dataset/*
!dataset/v2/
dataset/v2/*
!dataset/v2/index/
!dataset/v2/index/**
!dataset/v2/embeddings/
!dataset/v2/embeddings/**
!dataset/v2/faiss/
!dataset/v2/faiss/**
